<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Style -->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="src/css/style.css">

<!-- JS -->

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Jquery -->

<script type="text/javascript">

 // $.ajax({
 //     type: "POST",
 //     url: "/matched",
 //   })
 //   .done(function(response) {
 //       const users = response.result;
 //       users.forEach((user) => {
 //         console.log(user)
 //         $('#row').append(`<li>${match.firstname} ${match.lastname}</li>`)
 //       })
 //   })

   $( "#table" ).keyup(function() {
alert( "Handler for .keyup() called." );
});

</script>

<script type="text/javascript">
  $(document).ready(function() {
    var startcounting;
    $("#firstname").keyup((event) => {
      clearTimeout(startcounting);
      startcounting = setTimeout(function() {
        let firstname = $('#firstname').val().toLowerCase();
        if (firstname.length != 0) {

          $.post('/search', {
            firstname: firstname
          }, function(response) {
            $('#listofnames').empty();
            for (const el in response) {
              $('#listofnames').append(`<li>${response[el]}</li>`);
            }
          });
        } else {
          $('#listofnames').empty();
        }
      }, 300);
    });


    $("#lastname").keyup((event) => {
      let lastname = $('#lastname').val().toLowerCase();
      if (lastname.length != 0) {

        $.post('/search', {
          lastname: lastname
        }, function(response) {
          $('#listofnames').empty();
          for (const el in response) {
            $('#listofnames').append(`<li>${response[el]}</li>`);
          }
        });
      } else {
        $('#listofnames').empty();
      }
    });

  });
</script>

<!-- Custom js -->

<title>User Information App</title>
