body {
  margin: 0;
  padding: 0;
  background-color: #F0F8FF;
}

h1   {
text-align: center;
  margin-top: 20px
}

.form-group  {
  margin-left: 80px;
  margin-right: 80px
}

table {
  margin-left: 70px;
}
