<!DOCTYPE html>
<html>

<head>

  <title>Create New Users Page</title>

  <%- include partials/head.ejs %>

</head>

<body>

  <%- include partials/navbar.ejs %>

  <br>
  <br>
  <h1> Create New Users </h1>
  <br>
  <br>

  <form action="/show_new_users" method="post">

    <form>

      <div class="form-group">
        <label for="exampleInputFirstName">First name:</label><br>
        <input type="text" name="firstname" class="form-control" id="firstname" aria-describedby="firstnameHelp" placeholder="Enter first name">
      </div>

      <div class="form-group">
        <label for="exampleInputLastName">Last name:</label><br>
        <input type="text" name="lastname" class="form-control" id="lastname" aria-describedby="lastnameHelp" placeholder="Enter last name">
      </div>

      <div class="form-group">
        <label for="exampleInputEmailAddress">Email address:</label><br>
        <input type="text" name="email" class="form-control" id="emailaddress" aria-describedby="emailaddressHelp" placeholder="Enter email address">
      </div>

      <div class="form-group">
        <input type="submit" value="Submit">
      </div>

    </form>

</body>

</html>
