<html>

<head>

  <title>Matched Page</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="src/css/style.css">

</head>

<body>

  <%- include partials/navbar.ejs %>

  <h1>Matching User Information</h1>

  <table class="table">
    <tbody>
      <tr>
        <th scope="row"></th>
        <td>First name:</td>
        <td>Last name:</td>
        <td>Email:</td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td>
          <%= match.firstname %>
        </td>
        <td>
          <%= match.lastname %>
        </td>
        <td>
          <%= match.email %>
        </td>
      </tr>
    </tbody>
  </table>

  <script type="text/javascript">

     $( "#table" ).keyup(function() {
  alert( "Handler for .keyup() called." );
});

</script>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</body>

</html>
